.container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.Hero {
  flex: 0 0 auto;
  width: 100%;
  height: 90%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.Bg {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.2;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Section1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-pimary-900);
}
.container01 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
}
.Container02 {
  width: 66%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.text {
  color: var(--dl-color-pimary-500);
  font-size: 0.875em;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.text003 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
.text004 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: 0.25rem;
}
.text005 {
  display: inline;
  font-weight: 400;
  white-space: normal;
  background-color: rgb(241, 245, 249);
}
.CardsContainer {
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.Card1 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.container03 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #f87171, #dc2626);
}
.icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.text006 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.text007 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.Card2 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.container04 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #38bdf8, #0284c7);
}
.icon02 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.text008 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.text009 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.Card3 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.container05 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #34d399, #059669);
}
.icon04 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.text010 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.text011 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Open Sans;
  line-height: 1.625rem;
}
.WorkWithUs {
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
}
.container06 {
  flex: 0 0 auto;
  width: 41%;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.container07 {
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.icon06 {
  fill: var(--dl-color-secondary-500);
  width: 24px;
  height: 24px;
}
.text012 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text013 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.text014 {
  font-weight: 300;
  white-space: normal;
  background-color: rgb(241, 245, 249);
}
.text017 {
  font-weight: 300;
  white-space: normal;
  background-color: rgb(241, 245, 249);
}
.text018 {
  color: var(--dl-color-secondary-400);
  font-style: normal;
  font-weight: 700;
}
.container08 {
  flex: 0 0 auto;
  width: 33%;
  display: flex;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: #09A6E9;
}
.container09 {
  width: 100%;
  height: 269px;
  display: flex;
  align-items: flex-end;
  border-radius: 0px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
  background-position: center;
  border-top-left-radius: var(--dl-radius-radius-radius50);
  border-top-right-radius: var(--dl-radius-radius-radius50);
}
.image1 {
  top: auto;
  left: auto;
  width: 100%;
  bottom: 0px;
  object-fit: cover;
  margin-bottom: -1px;
}
.container10 {
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.text019 {
  font-size: 1.25rem;
}
.text020 {
  color: #f2f5f9ff;
  font-weight: 700;
  white-space: normal;
}
.text021 {
  color: #f2f5f9ff;
  margin-top: var(--dl-space-space-unit);
}
.image2 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
.Pricing {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&h=1200');
  background-position: center;
}
.container11 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.PricingCard {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.PricingCard:hover {
  transform: scale(1.02);
}
.text023 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.container12 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.text024 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.text027 {
  font-size: 4rem;
  font-weight: 700;
}
.container13 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.text028 {
  margin-bottom: var(--dl-space-space-unit);
}
.text030 {
  margin-bottom: var(--dl-space-space-unit);
}
.text032 {
  margin-bottom: var(--dl-space-space-unit);
}
.text034 {
  margin-bottom: var(--dl-space-space-unit);
}
.Button {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.PricingCard1 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.PricingCard1:hover {
  transform: scale(1.02);
}
.text036 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.container14 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.text037 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.text040 {
  font-size: 4rem;
  font-weight: 700;
}
.text041 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 32px;
  font-weight: 300;
}
.text043 {
  color: #595959;
  font-size: 0.75rem;
  margin-bottom: 32px;
}
.container15 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.text046 {
  margin-bottom: var(--dl-space-space-unit);
}
.text048 {
  margin-bottom: var(--dl-space-space-unit);
}
.text050 {
  margin-bottom: var(--dl-space-space-unit);
}
.text052 {
  margin-bottom: var(--dl-space-space-unit);
}
.text054 {
  margin-bottom: var(--dl-space-space-unit);
}
.button1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.PricingCard2 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-white);
}
.PricingCard2:hover {
  transform: scale(1.02);
}
.text056 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.container16 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.text057 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.text060 {
  font-size: 4rem;
  font-weight: 700;
}
.text061 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 32px;
  font-weight: 300;
}
.text063 {
  color: #595959;
  font-size: 0.75rem;
  margin-bottom: 32px;
}
.container17 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.text066 {
  margin-bottom: var(--dl-space-space-unit);
}
.text068 {
  margin-bottom: var(--dl-space-space-unit);
}
.text070 {
  margin-bottom: var(--dl-space-space-unit);
}
.text072 {
  margin-bottom: var(--dl-space-space-unit);
}
.button2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.Section2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.container18 {
  width: 66%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.text074 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  line-height: 2.5rem;
}
.text075 {
  font-weight: 700;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.text076 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-unitandhalf);
}
.GrowingCompanySection {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.image3 {
  width: 33%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
}
.container19 {
  flex: 0 0 auto;
  width: 41%;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.container20 {
  flex: 0 0 auto;
  width: 4rem;
  height: 4rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-700);
}
.icon08 {
  fill: var(--dl-color-pimary-500);
  width: 24px;
  height: 24px;
}
.text077 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unitandhalf);
}
.text078 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unitandhalf);
}
.container21 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
}
.container22 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-700);
}
.icon10 {
  fill: var(--dl-color-pimary-500);
  width: 20px;
  height: 20px;
}
.text079 {
  color: var(--dl-color-secondary-400);
}
.container23 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
}
.container24 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-700);
}
.icon12 {
  fill: var(--dl-color-pimary-500);
  width: 20px;
  height: 20px;
}
.text080 {
  color: var(--dl-color-secondary-400);
}
.container25 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
}
.container26 {
  flex: 0 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-700);
}
.icon15 {
  fill: var(--dl-color-pimary-500);
  width: 20px;
  height: 20px;
}
.text081 {
  color: var(--dl-color-secondary-400);
}
.container27 {
  flex: 0 0 auto;
  width: 66%;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.text082 {
  color: #f97316ff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}
.text084 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
.text085 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: 0.25rem;
}
.text086 {
  display: inline;
  font-weight: 400;
  white-space: normal;
}
.Stats {
  width: 100%;
  display: grid;
  padding: 48px;
  grid-gap: 32px;
  max-width: 1400px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text087 {
  color: #FF7C4C;
  font-size: 3rem;
}
.text090 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.text091 {
  color: #595959;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.Stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text092 {
  color: #FF7C4C;
  font-size: 3rem;
}
.text094 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.text095 {
  color: #595959;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.Stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text096 {
  color: #FF7C4C;
  font-size: 3rem;
}
.text099 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.text100 {
  color: #595959;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.Stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text101 {
  color: #FF7C4C;
  font-size: 3rem;
}
.text103 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.text104 {
  color: #595959;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.Section3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-secondary-100);
}
.container28 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.text105 {
  font-style: normal;
  font-weight: 700;
}
.text107 {
  color: var(--dl-color-gray-white);
}
.text108 {
  width: 80%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0.25rem;
}
.text109 {
  white-space: normal;
}
.Services {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.container29 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.container30 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #f2f5f9ff;
}
.icon17 {
  width: 24px;
  height: 24px;
}
.text110 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.text111 {
  color: rgba(100,116,139,1);
  font-size: 1.25rem;
  text-align: center;
}
.container31 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.container32 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #f2f5f9ff;
}
.icon19 {
  width: 24px;
  height: 24px;
}
.text112 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.text113 {
  color: rgba(100,116,139,1);
  font-size: 1.25rem;
  text-align: center;
}
.Contact {
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.text114 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
}
.text115 {
  color: rgba(255,255,255,0.75);
  width: 80%;
  text-align: center;
  font-weight: 300;
}
.Form {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-twoandhalf);
  max-width: 700px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-pimary-800);
}
.text116 {
  color: var(--dl-color-secondary-400);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.text117 {
  color: rgba(100,116,139,1);
}
.text118 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.textinput {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.textinput:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.text119 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.textinput1 {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.textinput1:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.text120 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.textarea {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.textarea:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px #4AA4E3;
}
.container33 {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.image4 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .CardsContainer {
    align-items: center;
    flex-direction: column;
  }
  .Card1 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .Card2 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .Card3 {
    width: 90%;
  }
  .PricingCard {
    width: 100%;
    padding: 32px;
    max-width: 100%;
    align-items: center;
  }
  .PricingCard1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .PricingCard2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .Section2 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .text074 {
    text-align: center;
  }
  .text087 {
    text-align: center;
  }
  .text092 {
    text-align: center;
  }
  .text096 {
    text-align: center;
  }
  .text101 {
    text-align: center;
  }
  .Section3 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .container28 {
    width: 100%;
  }
  .Services {
    align-items: center;
    flex-direction: column;
  }
  .container29 {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .container31 {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .Section1 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .Container02 {
    width: 100%;
  }
  .WorkWithUs {
    margin-top: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .container06 {
    width: 100%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .container08 {
    width: 100%;
  }
  .container11 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .PricingCard {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .PricingCard1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .PricingCard2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .container18 {
    width: 100%;
  }
  .GrowingCompanySection {
    flex-direction: column;
  }
  .image3 {
    width: 100%;
  }
  .container19 {
    width: 100%;
    margin-top: var(--dl-space-space-doubleunit);
  }
  .container27 {
    width: auto;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .Stats {
    padding-left: 32px;
    padding-right: 32px;
    grid-template-columns: 1fr 1fr;
  }
  .text090 {
    text-align: center;
  }
  .text094 {
    text-align: center;
  }
  .text099 {
    text-align: center;
  }
  .text103 {
    text-align: center;
  }
  .Form {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .Card1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .text007 {
    text-align: left;
  }
  .Card2 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .text009 {
    text-align: left;
  }
  .text011 {
    text-align: left;
  }
  .container11 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .PricingCard2 {
    margin-bottom: 0px;
  }
  .container19 {
    align-items: flex-start;
  }
  .Stats {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    grid-template-columns: 1fr;
  }
  .text107 {
    text-align: center;
  }
  .text114 {
    text-align: center;
  }
  .text116 {
    text-align: left;
  }
}
